[submodule "examples/analytics"]
	path = examples/analytics
	url = https://gitlab.com/gitlab-data/analytics.git
[submodule "examples/mrr-playbook"]
	path = examples/mrr-playbook
	url = https://github.com/dbt-labs/mrr-playbook.git
